force-app/main/default/flows/Routing_Rule_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>59.0</apiVersion>
  <label>Routing Rule Builder</label>
  <processType>Flow</processType>
  <recordChoiceSets>
    <name>ActiveRoutingGroups</name>
    <label>Active Routing Groups</label>
    <object>Routing_Group__c</object>
    <displayField>Name</displayField>
    <valueField>Id</valueField>
    <filters>
      <field>Is_Active__c</field>
      <operator>equals</operator>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </filters>
    <sortField>Name</sortField>
    <sortOrder>Ascending</sortOrder>
  </recordChoiceSets>
  <picklistChoiceSets>
    <name>MatchLogicChoices</name>
    <picklistObject>Routing_Rule__c</picklistObject>
    <picklistField>Match_Logic__c</picklistField>
  </picklistChoiceSets>
  <picklistChoiceSets>
    <name>ConditionFieldChoices</name>
    <picklistObject>Routing_Rule_Condition__c</picklistObject>
    <picklistField>Field__c</picklistField>
  </picklistChoiceSets>
  <picklistChoiceSets>
    <name>ConditionOperatorChoices</name>
    <picklistObject>Routing_Rule_Condition__c</picklistObject>
    <picklistField>Operator__c</picklistField>
  </picklistChoiceSets>
  <start>
    <locationX>40</locationX>
    <locationY>160</locationY>
    <connector>
      <targetReference>Screen_RuleDetails</targetReference>
    </connector>
  </start>
  <status>Active</status>
  <screens>
    <name>Screen_RuleDetails</name>
    <label>Rule Details</label>
    <locationX>200</locationX>
    <locationY>160</locationY>
    <allowBack>false</allowBack>
    <allowFinish>false</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>RuleNameInput</name>
      <dataType>String</dataType>
      <fieldText>Rule Name</fieldText>
      <isRequired>true</isRequired>
      <value>
        <elementReference>ruleName</elementReference>
      </value>
    </fields>
    <fields>
      <name>RuleDescriptionInput</name>
      <dataType>String</dataType>
      <fieldText>Description</fieldText>
      <isRequired>false</isRequired>
      <inputType>TextArea</inputType>
      <value>
        <elementReference>ruleDescription</elementReference>
      </value>
    </fields>
    <fields>
      <name>GroupInput</name>
      <dataType>String</dataType>
      <fieldText>Routing Group</fieldText>
      <isRequired>true</isRequired>
      <choiceReferences>ActiveRoutingGroups</choiceReferences>
      <value>
        <elementReference>groupId</elementReference>
      </value>
    </fields>
    <fields>
      <name>MatchLogicInput</name>
      <dataType>String</dataType>
      <fieldText>Match Logic</fieldText>
      <isRequired>true</isRequired>
      <choiceReferences>MatchLogicChoices</choiceReferences>
      <value>
        <elementReference>matchLogic</elementReference>
      </value>
    </fields>
    <fields>
      <name>PriorityInput</name>
      <dataType>Number</dataType>
      <fieldText>Priority (lower = higher)</fieldText>
      <isRequired>false</isRequired>
      <value>
        <elementReference>priority</elementReference>
      </value>
    </fields>
  </screens>
  <recordCreates>
    <name>Create_Rule</name>
    <label>Create Rule</label>
    <locationX>420</locationX>
    <locationY>160</locationY>
    <object>Routing_Rule__c</object>
    <assignRecordIdToReference>ruleId</assignRecordIdToReference>
    <inputAssignments>
      <field>Name</field>
      <value>
        <elementReference>ruleName</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Description__c</field>
      <value>
        <elementReference>ruleDescription</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Group__c</field>
      <value>
        <elementReference>groupId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Match_Logic__c</field>
      <value>
        <elementReference>matchLogic</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Priority__c</field>
      <value>
        <elementReference>priority</elementReference>
      </value>
    </inputAssignments>
    <connector>
      <targetReference>Screen_Condition</targetReference>
    </connector>
  </recordCreates>
  <screens>
    <name>Screen_Condition</name>
    <label>Add Condition</label>
    <locationX>640</locationX>
    <locationY>160</locationY>
    <allowBack>true</allowBack>
    <allowFinish>false</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>ConditionFieldInput</name>
      <dataType>String</dataType>
      <fieldText>Field</fieldText>
      <isRequired>true</isRequired>
      <choiceReferences>ConditionFieldChoices</choiceReferences>
      <value>
        <elementReference>conditionField</elementReference>
      </value>
    </fields>
    <fields>
      <name>ConditionOperatorInput</name>
      <dataType>String</dataType>
      <fieldText>Operator</fieldText>
      <isRequired>true</isRequired>
      <choiceReferences>ConditionOperatorChoices</choiceReferences>
      <value>
        <elementReference>conditionOperator</elementReference>
      </value>
    </fields>
    <fields>
      <name>ConditionValueInput</name>
      <dataType>String</dataType>
      <fieldText>Value</fieldText>
      <isRequired>false</isRequired>
      <value>
        <elementReference>conditionValue</elementReference>
      </value>
    </fields>
    <fields>
      <name>AddAnotherInput</name>
      <dataType>Boolean</dataType>
      <fieldText>Add another condition</fieldText>
      <isRequired>false</isRequired>
      <value>
        <elementReference>addAnother</elementReference>
      </value>
    </fields>
    <connector>
      <targetReference>Assign_Condition</targetReference>
    </connector>
  </screens>
  <assignments>
    <name>Assign_Condition</name>
    <label>Assign Condition</label>
    <locationX>860</locationX>
    <locationY>160</locationY>
    <assignmentItems>
      <assignToReference>conditionRecord.Rule__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>ruleId</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionRecord.Field__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>conditionField</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionRecord.Operator__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>conditionOperator</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionRecord.Value__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>conditionValue</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionRecord.Sort_Order__c</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>conditionSort</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionRecords</assignToReference>
      <operator>Add</operator>
      <value>
        <elementReference>conditionRecord</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>conditionSort</assignToReference>
      <operator>Add</operator>
      <value>
        <numberValue>1</numberValue>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>Decision_AddAnother</targetReference>
    </connector>
  </assignments>
  <decisions>
    <name>Decision_AddAnother</name>
    <label>Add Another?</label>
    <locationX>1080</locationX>
    <locationY>160</locationY>
    <defaultConnector>
      <targetReference>Create_Conditions</targetReference>
    </defaultConnector>
    <rules>
      <name>AddAnotherTrue</name>
      <label>Add Another</label>
      <conditionLogic>AND</conditionLogic>
      <conditions>
        <leftValueReference>addAnother</leftValueReference>
        <operator>equals</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Screen_Condition</targetReference>
      </connector>
    </rules>
  </decisions>
  <recordCreates>
    <name>Create_Conditions</name>
    <label>Create Conditions</label>
    <locationX>1300</locationX>
    <locationY>160</locationY>
    <object>Routing_Rule_Condition__c</object>
    <inputReference>conditionRecords</inputReference>
  </recordCreates>
  <variables>
    <name>ruleName</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ruleDescription</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>groupId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>matchLogic</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>priority</name>
    <dataType>Number</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <numberValue>1</numberValue>
    </value>
  </variables>
  <variables>
    <name>conditionField</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>conditionOperator</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>conditionValue</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>addAnother</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>ruleId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>conditionSort</name>
    <dataType>Number</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <numberValue>1</numberValue>
    </value>
  </variables>
  <variables>
    <name>conditionRecord</name>
    <dataType>SObject</dataType>
    <objectType>Routing_Rule_Condition__c</objectType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>conditionRecords</name>
    <dataType>SObject</dataType>
    <objectType>Routing_Rule_Condition__c</objectType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
</Flow>
